@import 'variables';

@mixin container {
  height: 100%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 0 10px;
}

@mixin fl-center {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin button {
  width: fit-content;
  color: $brand-fg;
  background-color: $brand-primary;
  font-weight: bold;
  font-size: 1rem;
  display: block;
  text-decoration: none;
  padding: 6px 8px;
  appearance: none;
  border: none;
  border-radius: $border-radius;
  cursor: pointer;
  transition-duration: 120ms;
  transition-timing-function: ease-in;
  transition-property: background-color, color;

  &:hover {
    background-color: $brand-secondary;
  }
}
@mixin button-secondary {
  @include button;
  background-color: $fg-primary;

  &:hover {
    background-color: $fg-secondary;
  }
}

@mixin card {
  border-radius: $border-radius;
  background-color: $bg-secondary;
  padding: 20px;
  box-shadow: 2px 2px 10px rgba($color: #000000, $alpha: 0.75);

  h3 {
    font-size: 1.15rem;
    color: $brand-primary;
    margin-bottom: 10px;
  }
}

@mixin text-input {
  padding: 5px;
  color: $fg-secondary;
  background: $bg-secondary;
  border: 2px solid $fg-primary;
  appearance: none;
}

@mixin phone {
  @media (max-width: 599px) {
    @content;
  }
}
