/* COLORS */
$bg-primary: #121212;
$bg-secondary: #26292c;
$bg-tertiary: #16181a;

$fg-primary: #fdf9fe;
$fg-secondary: #afb0b1;

$brand-primary: #60d2fa;
$brand-secondary: darken($brand-primary, 10%);
$brand-fg: $bg-primary;

/* SIZES */
$border-radius: 0.25rem;
$banner-height: 4rem;
$max-width: 1440px;
