@import 'variables';
@import 'mixins';

html,
body,
#__next,
main {
  color: $fg-primary;
  height: 100%;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

// Colors
$dot-color: lighten($bg-secondary, 25%);

// Dimensions
$dot-size: 1px;
$dot-space: 22px;

body {
  background:
    linear-gradient(90deg, $bg-primary ($dot-space - $dot-size), transparent 1%) center,
    linear-gradient($bg-primary ($dot-space - $dot-size), transparent 1%) center,
    $dot-color;
  background-size: $dot-space $dot-space;
}

* {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  box-sizing: border-box;
}

.container {
  @include container;
}

.grid {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#input {
  height: 100%;
  background-color: $bg-primary;
  color: $fg-primary;
  resize: none;
  border: none;
  border-right: 1px solid black;
  padding: 12px;
}

.preview {
  background-color: $bg-primary;
  padding: 12px;
}

.preview ul, .preview ol {
  list-style-position: inside;
}

.login {
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
}

.login form {
  background-color: $bg-secondary;
  padding: 40px 40px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 10px rgba(#000, 0.45);
  border-radius: $border-radius;

  h1 {
    font-size: 1.2rem;
    font-weight: bold;
    align-self: center;
    margin-bottom: 20px;
  }

  input {
    margin: 5px 0;
    width: 350px;
    padding: 5px;
    color: $fg-secondary;
    background: $bg-secondary;
    border: 2px solid $fg-primary;
    appearance: none;
  }
}

.login form label {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.pageHeader {
  height: 4rem;
  background-color: $bg-primary;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 5px rgba(0, 0, 0, 50%);
}

.pageHeader nav {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pageHeader nav ul {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 15px;
  list-style: none;

  button {
    @include button;
  }
}

.pageHeader nav ul li {
  height: max-content;
}

.pageHeader a {
  color: $fg-primary;
  font-weight: bold;
}

main {
  padding-top: 4rem;
}

.app {
  display: flex;
  height: 100%;
}

.sidebar {
  background-color: $bg-secondary;
  display: flex;
  flex-direction: column;
  padding: 10px;

  .sidebar-buttons {
    display: flex;
    flex-direction: column;

    button {
      @include button;
      margin: 2.5px 0;
    }
  }

  input {
    width: 100%;
    padding: 5px;
    margin: 5px 0;
  }

  li {
    width: 100%;
    padding: 5px;
    border-radius: $border-radius;
    margin: 5px 0;
    transition: background-color 100ms ease-in;
    cursor: pointer;
    display: flex;
    align-items: center;

    &:hover {
      background-color: $bg-primary;

      button {
        opacity: 0.75;
        transition: color 125ms ease-in;

        &:hover {
          opacity: 1;
        }
      }
    }

    button {
      appearance: none;
      background-color: transparent;
      color: $fg-primary;
      border: none;
      margin-left: auto;
      opacity: 0;
      transition: opacity 150ms;
      cursor: pointer;
    }
  }
}
